.AdvicesView {
	display: none !important;
}

.CreditScoreView {
	display: none !important;
}

.w2sView {
	display: none !important;
}

.InvestmentsView {
	display: none !important;
}

.accounts-adv {
	display: none !important;
}

.advice-top {
	display: none !important;
}

.OffersWidgetView {
	display: none !important;
}

.deals {
	display: none !important;
}